@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

:root {
  --dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

p {
  font-size: 2rem;
}

body {
  display: flex;
  place-content: center;
}

h1 {
  margin-bottom: 2.5rem;
  font-size: 6rem;
  color: var(--dark-magenta);
}

.container {
  width: 75%;
  height: 100%;
  margin-top: 10rem;
}

.flex-top {
  margin-bottom: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 22%;
}

.description-text {
  margin-bottom: 5rem;
  color: var(--dark-grayish-magenta);
  font-weight: 400;
  line-height: 1.4;
}

/**********************************************************/

.rate-div {
  margin-bottom: 2rem;
  padding: 2rem 3.5rem;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: var(--light-grayish-magenta);
}

.stars-list {
  display: flex;
  list-style-type: none;
}

.rated-text {
  color: var(--dark-magenta);
  font-weight: 700;
}

.rate-div:nth-child(1) {
  transform: translateX(-20%);
}

.rate-div:nth-child(2) {
  transform: translateX(-10%);
}

/*************************************************/
.flex-bottom {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.report-div {
  padding: 5rem;
  border: none;
  border-radius: 10px;
  background-color: var(--dark-magenta);

  img {
    width: 15%;
    display: inline-block;
    border: none;
    border-radius: 100%;
  }
}

.report-div:nth-child(2) {
  transform: translateY(10%);
}

.report-div:nth-child(3) {
  transform: translateY(20%);
}

.name {
  font-weight: 700;
}

.name,
.report {
  color: var(--white);
}

.buyer-flex {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.buyer-div {
  display: inline-block;
}

.buyer {
  color: var(--soft-pink);
}

.report {
  margin-top: 2rem;
}
